:root {
    --darkbackground: #583D72;
    --lightbackground: #FF8474;
    --darktext: #9F5F80;
    --lighttext: #FFC996;
    --color-hover: blue;
    --font-fam: 'Courier New', Courier, monospace;
    --shadow-color: purple;
}

body {
    background-color: var(--darkbackground);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}





footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: var(--lightbackground);
    padding: 20px;
    color: var(--darkbackground);
    font-family: var(--font-fam);
    font-weight: bolder;
    text-align: center;
}